@using Microsoft.AspNetCore.Mvc.Rendering
@using Models
@model Models.Media

<h3>Media Details</h3>

<div class="input-group">
    <span class="input-group-addon" id="MediaType-addon"><b>Type</b></span>
    <select name="MediaType" class="form-control" aria-describedby="MediaType-addon" style="max-width: 100%">
        <option value="Game">Game</option>
        <option value="Movie">Movie</option>
        <option value="Music">Music</option>
        <option value="TV-Show">TV-Show</option>
    </select>
</div>
<br />
<div class="input-group">
    <span class="input-group-addon" id="Runtime-addon"><b>Runtime</b></span>
    <input name="Runtime" value="@Model.Runtime" type="number" class="form-control" aria-describedby="Runtime-addon" style="max-width: 100%">
</div>
<br />
<div class="input-group">
    <span class="input-group-addon" id="Platform-addon"><b>Platform</b></span>
    <input name="Platform" value="@Model.Platform" type="number" class="form-control" aria-describedby="Platform-addon" style="max-width: 100%;" placeholder="e.g. Playstion 4, XBOX One, ...">
</div>
<br />
<h4>Add disc(s)</h4>
<div id="AddDisc"><p>Add DIscs</p></div>
<div id="DiscsPartial"></div>

<br />
<h4>Genres</h4>
<ul>
    @foreach (string genre in ViewBag.Genres)
    {
        <li style="display: block; float: left; width: 25%"><input name="Genres" type="checkbox" value="@genre" /> @genre</li>
    }
</ul>
<br />


    <script>
        var LoadAddDiscs = function() {
            var nrOfSelects = $("#DiscsPartial select").length;

            $.get('@Url.Action("MediaDiscs", "Item")?index=' + nrOfSelects).done(function(contents) {
                $('#DiscsPartial').append(contents);
            });
        }
        $("#AddDisc").click(LoadAddDiscs);
    </script>
